

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(46, 193, 219);
    text-align: center;
}

.container{
    /* justify-content: center;
    align-items: center;
    display: flex; */
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    gap: 2rem;
    background-color: rgb(3, 3, 46);
    border-radius: 4rem;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

input{
    border-radius: 2rem;
    border: none;
    padding: 20px;
    width: 90%;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .answer{
    background-color: rgb(185, 7, 37);
    border: none;
    border-radius: 2rem;
} */

button{
    border-radius: 2rem;
    border: none;
    background-color: rgb(255, 251, 0);
    width: 5rem;
    height: 2rem;
    flex: 1;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: rgb(226, 192, 0);
}

#message{
    margin-top: 16px;
    font-size: large;
}
    